.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
  padding: 20px;
}

.page-size-selector {
  margin-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-size-select {
  padding: 5px;
}

.page-buttons {
  display: flex;
  gap: 5px;
}

.page-button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  cursor: pointer;
}

.page-button.active {
  background-color: darkturquoise;
  color: white;
}

.page-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
